* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    background-image: url('image/ciel.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 150px;
    position: relative;
}

.overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    right: 0;
    bottom: 0;
    padding: 0 !important;
    margin: 0 !important;
    background-color: Orgba(10,10,10,0.3);
}

nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 60px 0 60px;
}

nav li {
    list-style: none;
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
}
nav li span {
    padding-left: 5px;
}
li a {
    padding: 5px;
    background-color: rgb(255, 255, 255);
    text-decoration: none;;
}

.cart ion-icon {
    vertical-align: bottom;
    font-size: 20px;
    padding-right: 5px;
}
.cart a {
    background-color: royalblue;
    color: rgb(255, 255, 255);
    cursor: pointer;
    text-decoration: none;
}

.container,
.products-container {
    display: flex;
    justify-content: center;
    flex-wrap: Wwrap;
    margin-top: 50px;
    padding-bottom: 100px;;
}

.products {
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
    overflow: hidden;
}

.add-cart {
    position: absolute;
    width: 100%;
    background-color: darkgrey;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    cursor: pointer;
    text-align: center;
}

.products:hover .cart1,
.products:hover .cart2,
.products:hover .cart3 {
   bottom: 50px;
   opacity: 1;
   padding: 10px;
   text-decoration: none;
}

.prodpics{
    float: left;
    margin-left: 0px 0px 0px 130px;
    width: 450px;
    height: 350px;
}

.prodpics2{
    float: left;
    margin-left: 0px 0px 0px 130px ;
    width: auto;
    height: 350px;


}
/*---------CART PAGE ------------*/
.products-container {
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
}
.products-container ion-icons {
    font-size: 25px;
    color: blue;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}
.products-header{
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightgray;
    margin: 0, auto;
}
.product-title {
    width: 45%;
}
.price {
    width: 30%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
 }
 .quantity {
    width: 30%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
 }
.total {
    width: 10%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}
.prodpicscart{
    float: left;
    margin-left: 0px 0px 0px 130px;
    width: 150px;
    height: 200px;
}

/*---------Desc+About pages ------------*/
.descimg{
    width: auto;
    height: auto;
    margin-left: 15px;
}
.descimg2{
    width: auto;
    height: auto;
    margin-left: 25px;
}
.descimg3{
    width: auto;
    height: auto;
    margin-left: 0px;
}
.descprix{
    float: right;
    margin: 0px 500px;
    margin-top: -500px;
    font-size:100px;
    color: red;
}
.descprix2{
    float: right;
    margin: 0px 500px;
    margin-top: 65px;
    font-size:100px;
    color: red;
}
.descprix3{
    float: right;
    margin: 0px 200px;
    margin-top: 15px;
    font-size:100px;
    color: red;
}
.descparagraph{
    float: right;
    margin: 0px 500px;
    margin-top: -300px;
    font-size:28px;
    color: blue;
}
.descparagraph2{
    float: right;
    margin: 0px 450px;
    margin-top: -250px;
    font-size:28px;
    color: blue;
}
.descparagraph3{
    float: right;
    margin: 0px 200px;
    margin-top: -340px;
    font-size:28px;
    color: blue;
}